@import "../../variables.scss";

.plan-page {
    width: $page-width;
    height: 100vh;
    // background: $tertiary-background;
    @include gradient-background;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plan-holder {
    height: 60vh;
    width: 80vw;
    background: $secondary-background;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    @include box-shadow;
}

.plan-info-holder {
    height: 10%;
    width: 100%;
    background: $secondary-color;
    display: flex;

}

.plan-date-holder {
    height: 100%;
    width: 50%;
    background: $secondary-background;;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 40px;
}

.plan-total-miles-holder {
    height: 100%;
    width: 50%;
    background: $secondary-background;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 40px;
    button {
        margin-left: 20px;
    }
}

.plan-days-holder {
    height: 70%;
    width: 100%;
    background: $tertiary-background;
    // background: $secondary-color;
    display: flex;
    justify-content: space-around;
    align-items: center;
    // border: 2px solid $secondary-background;
}

.plan-day {
    width: 12%;
    height: 80%;
    background: $tertiary-background;
    border-radius: 10px;
    @include box-shadow-less;
}

.plan-day-holder {
    height: 15%;
    width: 100%;
    background: $secondary-background;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $primary-color;
    h2 {
        color: $primary-color;
        font-size: 1rem;
    }
}

.plan-day-info-holder {
    height: 20%;
    width: 100%;
    background: $secondary-background;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    p {
        font-size: 1rem;
    }
}

.plan-route-holder {
    height: 65%;
    width: 100%;
    background: $secondary-background;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.day-route-info-holder {
    height: 80%;
    width: 100%;
    background: $secondary-background;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    h1 {
        font-size: .5rem;
        color: $primary-color;
        text-decoration: underline;
        margin-bottom: 5px;
    }
    h4 {
        font-size: .4rem;
        margin-bottom: 5px;
    }
    img {
        width: 80%;
        height: auto;
        cursor: pointer;
    }
}

.no-day-route-info-holder {
    height: 80%;
    width: 100%;
    background: $secondary-background;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-day-route-box {
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $tertiary-background;
    cursor: pointer;
    i {
        color: $primary-color;
    }
}

.day-route-edit-button-holder {
    height: 20%;
    width: 100%;
    background: $secondary-background;
    display: flex;
    justify-content: center;
    align-items: center;
}


.plan-description-holder {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.plan-buttons-holder {
    height: 5%;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
