@import "../../variables.scss";

.my-plans-page {
    width: $page-width;
    min-height: 100vh;
    // background: $tertiary-background;
    @include gradient-background;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-plans-holder {
    min-height: 76vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    padding: 40px 40px;
}

.my-plan {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 280px;
    width: 280px;
    margin: 20px;
    border-radius: 20px;
    background: $secondary-background;
    color: white;
    @include box-shadow;
    h2 {
        color: $primary-color;
        text-decoration: underline;
    }
}

.my-plan-description-holder {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media(min-width: 425px) and (max-width: 768px) {
    .my-plan {
        width: 30vw;
    }

    .my-plans-holder {
        padding: 20px;
    }
}

@media(max-width: 425px) {
    .my-plans-page {
        width: 100vw;
        margin-top: 10vh;
    }

    .my-plans-holder {
        width: 90vw;
        padding: 20px;
    }

    .my-plan {
        width: 80vw;
    }
}

@media(min-width: 1300px) {
    .my-plans-page {
        min-height: 100vh;
        justify-content: flex-start;
    }
}

