@import "../../variables.scss";

.hero {
    min-height: 60vh;
    min-width: $page-width;
    background-image: url('../../assets/optimized_hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 10rem;
    // padding-bottom: 1rem;
    padding-top: 60px;
}

.route-runner-title {
    height: 15vh;
    width: 35vw;
    // background: $tertiary-background;
    padding-right: 0px;
    h1 {
        color: $secondary-background;
        text-decoration: underline;
        font-size: 3.5rem;
    }
    h2 {
        font-size: 1.5rem;
        color: $secondary-color;
        text-align: right;
        
    }
}

.register {
    height: 35vh;
    width: 20vw;
    background: rgba(31, 40, 51, 0.753);
    @include flex-column-center;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    input {
        border: 2px solid $primary-color;
        border-radius: 4px;
        width: 145px;
        background: $secondary-background;
        color: white;
        padding: 2px 8px;
        transition: padding .15s ease-in, border .15s ease-in;
        &:focus {
            padding: 4px 10px;
            outline: none;
            border: 2px solid $secondary-color;
        } 
    }
    select {
        position: relative;
        border: 2px solid $primary-color;
        border-radius: 4px;
        background: $secondary-background;
        color: white;
        padding: 2px 8px;
        width: 145px;
        height: 22px;
        cursor: pointer;
        transition: height .15s ease-in, width .15s ease-in;
        &:focus{
            width: 160px;
            height: 30px;
            outline: none;
            border: 2px solid $secondary-color;
        }
    }
}

div {
    &:focus {
        outline: none;
    }
}

.file-drop {
    cursor: pointer;
    &:focus {
        outline: none;
        
    }
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 160px;
    background: $secondary-background;
    text-align: center;
    border: 2px dashed $primary-color;
    border-radius: 4px;
    color: white;
    overflow-y: hidden;
    &:hover {
        border: 2px dashed $secondary-color;
    }
    &:focus {
        outline: none;
    }
    p {
        &:focus {
            outline: none;
        }
    }
}
.drop-box {
    h6 {
        font-size: .9rem;
    }
    p {
        font-size: .1rem;
    }
}

.info {
    min-height: 80vh;
    min-width: $page-width;
    // background: $tertiary-background;
    @include gradient-background;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info-box {
    width: 25vw;
    height: 60vh;
    background: $secondary-background;
    border-radius: 20px;
    @include box-shadow;
    
}
.img-box-find-routes:hover .overlay {
    bottom: 0;
    height: 100%;
}

.img-box-find-routes {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    background: url('../../assets/optimized_findRoutes.jpg');
    opacity: 1.0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity .5s;
    div {
        opacity: 0;
        transition: opacity .5s;
        h4 {
            opacity: 0;
            transition: opacity .5s;
        }
    }
    &:hover {
        opacity: .4;
        div {
            opacity: 1;
            h4 {
            opacity: 1;
        }
        }
        
    }
}

.myButton {
	background-color: $primary-color;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:10px 20px;
    text-decoration:none;
    &:hover {
        background: $secondary-color;
    }
}

.register-buttons {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



.img-box-my-routes {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    background-image: url('../../assets/optimized_myRoutes.jpg');
    opacity: 1.0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 85%;
    transition: opacity .5s;
    div {
        opacity: 0;
        transition: opacity .5s;
        h4 {
            opacity: 0;
            transition: opacity .5s;
        }
    }
    &:hover {
        opacity: .4;
        div {
            opacity: 1;
            h4 {
            opacity: 1;
        }
        }
        
    }
}

.img-box-my-plans {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    background-image: url('../../assets/optimized_myPlans.jpg');
    opacity: 1.0;
    background-size: 500px;
    background-repeat: no-repeat;
    background-position-x: 80%;
    background-position-y: 70%;
    transition: opacity .5s;
    div {
        opacity: 0;
        transition: opacity .5s;
        h4 {
            opacity: 0;
            transition: opacity .5s;
        }
    }
    &:hover {
        
        opacity: .4;
        div {
            opacity: 1;
            h4 {
            opacity: 1;
        }
        }
        
    }

}

.page-info-text-box {
    width: 100%;
    height: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    h2 {
        color: $primary-color;
        text-decoration: underline;
        font-size: 2rem;
        cursor: pointer;
        &:hover {
            color: $secondary-color;
        }
    }
}

@media(min-width: 425px) and (max-width: 768px) {
    .hero {
        padding-left: 60px;
        padding-bottom: 10px;
    }
    .route-runner-title {
        height: 15vh;
        width: 40vw;
        h1 {
            font-size: 2.5rem;
        }
    }
}

@media(max-width: 425px) {
    .home {
        margin-top: 10vh;
    }

    .hero {
        // align-items: center;
        justify-content: flex-start;;
        padding-left: 20px;
        padding-bottom: 1rem;
        
    }

    .route-runner-title {
        height: 15vh;
        width: 60vw;
        h1 {
            font-size: 2.2rem;
        }
    h2 {
        font-size: 1.2rem;
    }
    }

    .register {
        width: 50vw;
    }

    .info {
        display: flex;
        flex-direction: column;

    }

    .info-box {
        height: 50vh;
        width: 70vw;
        margin-top: 1rem;
    }

    .img-box-my-plans {
        background-position-y: 80%;
        background-position-x: 80%;
    }
}

@media(min-width: 1300px) {
    .page-info-text-box {
        h2 {
            font-size: 3rem;
        }
        p {
            font-size: 1.5rem;
        }
    }

    .route-runner-title {
        h1 {
            font-size: 5rem;
        }

        h2 {
            font-size: 2rem;
        }
    }
}