@import "../../variables.scss";


.add-button-holder {
    height: auto;
    i {
        cursor: pointer;
    }
}

.expand-route-holder {
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expand-route {
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}

@media(min-width: 425px) and (max-width: 768px) {
    .route {
        width: 600px;
    }

    .route-map {
        img {
            width: 80%;
            height: auto;
        }
    }
}

@media(max-width: 425px) {
    .more-box {
        padding-top: 8px;
        p {
            display: none;
        }
    }
}