@import "../../variables.scss";

.login {
    background: $secondary-background;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 5vh;
    
}

@media(max-width: 425px) {
    .login {
        background: $secondary-color;
        display: flex;
        justify-content: space-around;
    }
}