@import "./variables.scss";
@import "./Components/Nav/nav.scss";
@import "./Components//Login/login.scss";
@import "./Components//Home/home.scss";
@import "./Components/Route/route.scss";
@import "./Components/FindRoutes/find-routes.scss";
@import "./Components/MyRoutes/my-routes.scss";
@import "./Components/Plan/plan.scss";
@import "./Components//MyPlans/my-plans.scss";
@import "./Components/AddPlanForm/add-plan-form.scss";
@import url('https://fonts.googleapis.com/css?family=Cantarell:400i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Allan&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300i&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

.App {
  display: flex;
}

.main-page {
  margin-left: $nav-width;
}

@media (max-width: 425px) {
  .App {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .main-page {
    margin-left: 0;
    height: 100vh;
  }
}

