@import "./variables.scss";
@import "./Components/Nav/nav.scss";
@import "./Components//Login/login.scss";
@import "./Components//Home/home.scss";
@import "./Components/Route/route.scss";
@import "./Components/FindRoutes/find-routes.scss";
@import "./Components/MyRoutes/my-routes.scss";

* {
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
}

.App {
  display: flex;
}

.main-page {
  margin-left: $nav-width;
}

