$primary-color: #66FCF1;
$secondary-color: #45A29E;
$primary-background: #0B0C10;
$secondary-background: #1F2833;
$tertiary-background: #C5C6C7;
$nav-width: 10vw;
$page-width: 90vw;




@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@mixin gradient-background {
    background: rgb(123,131,142);
    background: linear-gradient(135deg, rgba(123,131,142,1) 0%, rgba(197,198,199,1) 50%, rgba(123,131,142,1) 100%);
}

@mixin box-shadow {
    -webkit-box-shadow: 5px 5px 9px 3px #0b0c10; 
    box-shadow: 5px 5px 9px 3px #0b0c10;
}

@mixin box-shadow-less {
    -webkit-box-shadow: 3px 3px 9px 2px #0b0c1085; 
    box-shadow: 3px 3px 9px 2px #0b0c1085;
}
