@import "../../variables.scss";

.find-routes-page {
    width: $page-width;
    min-height: 100vh;
    background: $tertiary-background;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: $page-width;
    background: $secondary-background;
    border-bottom: .5rem solid $primary-color;
    color: $primary-color;
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.search-holder {
    display: flex;
    height: auto;
    width: $page-width;
    align-items: flex-start;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 40px;
}

.search {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 80%;
    border-bottom: 2px solid $secondary-background;
}

.distance-holder {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    input {
        margin-bottom: 10px;
    }
}

.add-new-route {
    display: flex;
    height: auto;
    width: $page-width;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-right: 20px;
}

.route {
    height: 320px;
    width: 910px;
    background: $secondary-background;
    border-radius: 20px;
    margin-bottom: 40px;
    overflow: hidden;
    img {
        width: 350px;
        height: auto;
    }
}

.route-extended {
    
}

.add-button-holder {
    height: 30px;
    width: 910px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 40px;
}

.display-route {
    height: 240px;
    width: 910px;
    display: flex;
}

.route-title {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    h1 {
        text-decoration: underline;
        font-size: 2.0rem;
        color: $primary-color;
    }
    h2 {
        color: $primary-color;
    }
}

.route-map {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-info-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    color: $primary-color;
    font-size: 1rem;
}

.more-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    &:hover {
        color: $secondary-color;
    }
}

@media(max-width: 425px) {
    .find-routes-page {
        width: 100vw;
        margin-top: 10vh;
    }
    .page-title {
        width: 100vw;
        background: $secondary-color;
        color: $secondary-background;
        border-bottom: .5rem solid $secondary-background;
    }

    .add-new-route {
        padding-top: 10px;
        margin-bottom: 0;
    }

    .search {
        width: 90vw;
        justify-content: space-between;
        input {
            margin-right: 10px;
        }
    }

    .route {
        height: 300px;
        width: 300px;
    }

    .display-route {
        flex-direction: column;
    }

    .route-title {
        width: 100%;
        text-align: center;
        h1 {
            font-size: 1.8rem;
        }
        h2 {
            font-size: 1.2rem;
        }
    }
    
    .route-map {
        width: 100%;
        overflow-y: hidden;
        img {
            width: 80%;
            height: auto;
            
        }
    }
}